#chat-screen .alt-header {
  background-color: whitesmoke;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes centerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 40px;
  animation: centerFadeIn 0.3s linear;
}

.chat__timestamp span {
  font-size: 12px;
  opacity: 0.8;
}

@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  animation: leftFadeIn 0.3s ease-in-out;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-row__content {
  margin: 0 10px;
}

.message__sender {
  display: block;
  font-size: 16px;
  opacity: 0.9;
}

.message__info {
  display: flex;
  align-items: center;
}

.message__bubble {
  background-color: white;
  padding: 6px 10px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-top: 6px;
  margin-right: 6px;
  font-size: 14px;
}

.message__time {
  margin-top: 16px;
  font-size: 10px;
  opacity: 0.8;
}

@keyframes rightFadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  justify-content: flex-end;
  animation: rightFadeIn 0.3s ease-in-out;
}

.message-row--own > .message-row__content {
  margin-right: 0;
}

.message-row--own .message__bubble {
  background-color: gray;
  color: whitesmoke;
  border-top-right-radius: 0px;
  border-top-left-radius: 12px;
  margin-left: 5px;
}

/* span의 순서를 바꿀 수도 있으나, flex의 children에게만
적용되는 특성을 사용해서 elements의 순서를 바꿀 수도 있다. 혹은
 flex-directions: row-reverse를 사용해서 나열되는 순서를 변경 */
.message-row--own .message__bubble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
}

.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 24px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

/* 상위 column width를 줘야 해당 column에 width 설정이 가능*/
.reply input {
  padding: 3px 10px;
  height: 25px;
  width: 100%;
  border: var(--border-line);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
}

.reply__column:last-child > i {
  right: 20px;
  top: 9px;
}

.reply__column:last-child button {
  top: 4px;
  right: -15px;
  width: 25px;
  height: 25px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column i,
.reply__column button {
  transition: opacity 0.3s ease-in-out;
}

.reply input:focus {
  width: 90vw;
  transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
