#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  margin-bottom: 10px;
  padding: 8px 0;
  font-size: 13px;
}

#login-form input:not([type="submit"]) {
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.3s linear;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

#login-form input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#login-form input[type="submit"] {
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px 0px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#help {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

#sing-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

#sing-up a {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
}

#find-pw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

#find-pw a {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
}

#find-pw {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
