.badge {
  background-color: tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /*display:flex를 선언하면 in-line에서 block으로 바뀐다*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: tomato;
}
