#no-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  top: 0;
  left: 0;
  z-index: 99;
  height: 120vh;
  width: 100%;
  background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
  #no-mobile {
    display: none;
  }
}
